.surveybuilder-layout {
    display: grid;
    grid-template-rows: 70px auto;
    grid-template-columns: 280px auto;
    row-gap: 3px;
    height: 100%;
    width: 100%;
}

.sidebar-layout {
    width: 300px;
    height: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1fr 44px;
    gap: 3px;
    overflow: hidden;
    grid-column: 1;
    grid-row: 2;
}