/* sidebar-input
sidebar-input-section
sidebar-label */

.text-input-section {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.text-input {
    height: fit-content;
    resize: none;
    width: 100%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 28px;
    word-wrap: break-word;
    text-align: center;
    box-sizing: border-box;
}

.text-input-label {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: var(--black);
}